body{
  background: linear-gradient(#fda074, #ff783a, #fda074 );
}
.user-type {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: table;
}
.user-login {

  height: 100vh;
  width: 100vw;

}
.user-signup {
  height: 100vh;
  width: 100vw;
}

.search-cafe{
  height: 100vh;
  width: 100vw;
}

.signupform{
  padding: 2em;
}

.search-cafe-container{
  height: 98%
}

.search-cafe-card{
  height: 97%;
  padding: 1em;
}

Form{
  width: 100%;
  display: inline;
}

.row2{
  height: 50%;
  padding: 1em;
}

.navbar1{
  background: linear-gradient(0.25turn,#2a544b, #306357, #3a7869 );
}

.butt{
  background: linear-gradient(0.25turn,#2a544b, #306357, #2a544b );
}

Img{
  height: 65px;
}

.jumbo{
  background-image: url('coffee.jpg');
}

.jumbo_text{
  color: white;
}
